/*  
VERSION     MODIFIEDBY          MODIFIEDDATE        HU              MODIFICATION
1           Juan Yanza          2026-03-26          WMS 57731       Based on pro_Despacho_PickUpShipToCompleteDelivered
2           Cristhian Cuichan   2026-06-30          57742           The BilltoConsigneeId parameter is added to the query
3           Jair Gomez          2026-09-01          70084           Group them together with the sales source and sales destination to evaluate which ones were completed correctly, as detailed
*/  
CREATE OR ALTER PROCEDURE [dbo].[AC_pro_GetCompletedDeliveredPickupShipTo]  
(  
    @FechaDesde                 DATE,  
    @FechaHasta                 DATE,  
    @NroDocumento               VARCHAR(32)  = NULL,  
    @Po                         VARCHAR(32)  = NULL,  
    @IdBillTo                   VARCHAR(16)  = NULL,
    @NombreBillTo               VARCHAR(512) = NULL,
    @IdConsignee                VARCHAR(16)  = NULL,  
    @NombreClienteConsignee     VARCHAR(512) = NULL,  
    @NroPOD                     VARCHAR(16)  = NULL,  
    @CodigoBarras               VARCHAR(32)  = NULL,  
    @NombreComercialExportador  VARCHAR(50)  = NULL,  
    @PalletLabel                VARCHAR(20)  = NULL,  
    @IdEmpresa                  VARCHAR(16)  
)  
AS  
BEGIN  
    BEGIN TRY   
        DECLARE @IdParametroDelivery VARCHAR(16)  
  
        CREATE TABLE #TablaAgrupacionGuiasHouse (  
            Id                    INT IDENTITY(1, 1) NOT NULL,  
            IdShipTo              VARCHAR(16),  
            NombreClienteFinal    VARCHAR(1024),    
            FechaPickUpProgramada DATETIME,  
            FechaPickUpEntrega    DATETIME,  
            TotalPending          INT,  
            TotalHold             INT,  
            TotalShort            INT,  
            TotalReceived         INT,  
            TotalStandBy          INT,  
            TotalDespachado       INT,  
            Total                 INT,  
            IdBodega              VARCHAR(16),  
            NombreBodega          VARCHAR(1024),    
            IdManifiesto          UNIQUEIDENTIFIER,  
            IdCarrier             VARCHAR(16),  
            NombreCarrier         VARCHAR(512),  
            EsPod                 BIT NOT NULL DEFAULT 0,   
            CodigoCarrier         VARCHAR(32),
            BilltoConsigneeId     VARCHAR(16),
            IdGuia                VARCHAR(128),
            NroDocumento          VARCHAR(32),
            IdOrdenVenta          UNIQUEIDENTIFIER,
            NroOrdenVenta         VARCHAR(32)
        );  
         
        SELECT @IdParametroDelivery = Id
        FROM ParametrosLista parametroLista
        WHERE parametroLista.Codigo = 'EsDelivery' 
            AND parametroLista.IdEmpresa = @IdEmpresa  
  
        SELECT C.IdEntidad, C.Codigo  
        INTO #TMP_CodigosRelacionSistemas  
        FROM CodigosRelacionSistemas C
        WHERE C.TipoEntidad = 'CARRIER' 
            AND C.IdSistemaEntidad = 100  
    
        SELECT DISTINCT T.Id, T.Nombre  
        INTO #TMP_TRANS  
        FROM ParametrosLista PL
        INNER JOIN ParametrosCatalogos PC ON PC.IdParametroLista = PL.Id AND PC.Valor = 'NO'  
        INNER JOIN Transportes T ON T.IdTransportePrincipal = PC.IdEntidad  
        WHERE PL.Codigo = 'EsDelivery' 
            AND PL.IdEmpresa = @IdEmpresa  
  
        SELECT GHDH.IdGuiaHouseDetalle, MAX(GHDH.FechaCambio) FechaCambio
        INTO #tmlGHH  
        FROM GuiasHouseDetallesHistorico GHDH WITH(NOLOCK)  
        WHERE GHDH.FechaCambio BETWEEN @FechaDesde AND @FechaHasta 
            AND GHDH.Valor = 'DISPATCHED WH'  
        GROUP BY GHDH.IdGuiaHouseDetalle

        CREATE TABLE #TMP_Consignee     (Id VARCHAR(16))
        CREATE TABLE #TMP_BillTo        (Id VARCHAR(16))

        IF @IdConsignee IS NOT NULL
            INSERT INTO #TMP_Consignee VALUES (@IdConsignee)

        IF @NombreClienteConsignee IS NOT NULL
            INSERT INTO #TMP_Consignee 
                SELECT F.Id FROM f_SearchEntities(@NombreClienteConsignee, 'Consignee') F

        IF @IdConsignee IS NULL AND @NombreClienteConsignee IS NULL
        BEGIN
            IF @IdBillTo IS NOT NULL
                INSERT INTO #TMP_BillTo 
                    SELECT F.Id FROM f_SearchEntities(@IdBillTo, 'IdBillTo') F

            IF @NombreBillTo IS NOT NULL
                INSERT INTO #TMP_BillTo 
                    SELECT F.Id FROM f_SearchEntities(@NombreBillTo, 'BillTo') F
        END
  
        IF (     
            @NroDocumento              IS NULL AND 
            @Po                        IS NULL AND 
            @IdBillTo                  IS NULL AND
            @NombreBillTo              IS NULL AND
            @IdConsignee               IS NULL AND
            @NombreClienteConsignee    IS NULL AND
            @NroPOD                    IS NULL AND 
            @CodigoBarras              IS NULL AND 
            @NombreComercialExportador IS NULL AND
            @PalletLabel               IS NULL
        )  
        BEGIN     
            SELECT 
                GHD.Id,  
                GHD.IdGuiaHouse,  
                GHD.ShipToId,  
                GH.ConsigneeId,  
                A.FechaCambio,  
                GHD.EstadoPieza,  
                PC.Id       AS IdProgramacionCarrier,  
                PC.FechaDespacho,  
                T.Id        AS IdSubCarrier,  
                T.Nombre    AS NombreSubCarrier     
            INTO #TMP_GHD_MASIVO  
            FROM #tmlGHH A   
            INNER JOIN GuiasHouseDetalles GHD WITH(NOLOCK) ON A.IdGuiaHouseDetalle = GHD.Id  
            INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GHD.IdGuiaHouse = GH.Id
            INNER JOIN ProgramacionCarrier PC WITH(NOLOCK) ON PC.IdGuiaHouseDetalle = GHD.Id   
            INNER JOIN #TMP_TRANS T ON PC.IdCarrier = T.Id;
  
            INSERT INTO #TablaAgrupacionGuiasHouse  
            SELECT      
                GHD.ShipToId                                    AS IdShipTo,
                VCE.Nombre                                      AS NombreClienteFinal,  
                MAX(GHD.FechaDespacho)                          AS FechaPickUpProgramada,   
                MAX(GHD.FechaCambio)                            AS FechaPickUpEntrega, 
                SUM(IIF(GHD.EstadoPieza = 'PENDING',       1, 0)) AS TotalPending,  
                SUM(IIF(GHD.EstadoPieza = 'HOLD',          1, 0)) AS TotalHold,  
                SUM(IIF(GHD.EstadoPieza = 'SHORT',         1, 0)) AS TotalShort,  
                SUM(IIF(GHD.EstadoPieza = 'RECEIVED WH',   1, 0)) AS TotalReceived,  
                SUM(IIF(GHD.EstadoPieza = 'STANDBY',       1, 0)) AS TotalStandBy,  
                SUM(IIF(GHD.EstadoPieza = 'DISPATCHED WH', 1, 0)) AS TotalDespachado,  
                COUNT(1)                                        AS Total,     
                ISNULL(UB.IdBodega, GH.IdBodega)                AS IdBodega,   
                ISNULL(BP.Nombre, BG.Nombre)                    AS NombreBodega,   
                MD.Id                                           AS IdManifiesto,  
                GHD.IdSubCarrier                                AS IdCarrier,  
                GHD.NombreSubCarrier                            AS NombreCarrier,  
                CONVERT(BIT, 1)                                 AS EsPod,  
                T1.Codigo,
                GH.BillToConsigneeId,
                GH.IdGuia                                       AS IdGuia,
                GH.NroGuia                                      AS NroDocumento,
                SDV.Id                                          AS IdOrdenVenta,
                SDV.NroOrden                                    AS NroOrdenVenta
            FROM #TMP_GHD_MASIVO GHD   
            INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GHD.IdGuiaHouse = GH.Id
            INNER JOIN #TMP_CodigosRelacionSistemas T1 ON GHD.IdSubCarrier = T1.IdEntidad  
            LEFT JOIN v_ClientsEntities VCE WITH(NOLOCK) ON GHD.ShipToId = VCE.Id     
            LEFT JOIN ProgramacionManifiesto PM WITH(NOLOCK) ON PM.IdProgramacionCarrier = GHD.IdProgramacionCarrier              
            LEFT JOIN ManifiestosDespacho MD ON MD.Id = PM.IdManifiestoDespacho  
            OUTER APPLY (
                SELECT TOP 1 DD.EsPod
                FROM DocumentosDespacho DD
                WHERE DD.IdManifiesto = MD.Id 
                    AND DD.IdDocumento = 'DOC052395'
                ORDER BY EsPod DESC
            ) DCD
            OUTER APPLY (   
                SELECT TOP (1) S.Id, S.NroOrden
                FROM SolicitudDeVentaDetalles SD
                LEFT JOIN SolicitudDeVenta S ON S.Id = SD.IdSolicitud
                WHERE SD.IdGuiaHouseDetalle = GHD.Id
                ORDER BY S.FechaSolicitud DESC
            ) AS SDV
            LEFT JOIN PalletsDetalles PLD WITH(NOLOCK) ON GHD.Id = PLD.IdGuiasHouseDetalle  
            LEFT JOIN Pallets PAL WITH(NOLOCK) ON PLD.IdPallet = PAL.Id  
            LEFT JOIN UbicacionPiezas AS UP WITH(NOLOCK) ON GHD.Id = UP.IdGuiaHouseDetalle  
            LEFT JOIN Ubicaciones AS U ON UP.IdUbicacion = U.Id  
            LEFT JOIN UbicacionesBodega AS UB ON U.IdUbicacionBodega = UB.Id  
            LEFT JOIN Bodegas AS BG ON GH.IdBodega = BG.Id  
            LEFT JOIN Bodegas AS BP ON UB.IdBodega = BP.Id    
            WHERE GH.IdEmpresa = @IdEmpresa 
                AND DCD.EsPod = 1  
            GROUP BY   
                GHD.ShipToId,  
                VCE.Nombre,
                ISNULL(UB.IdBodega, GH.IdBodega),   
                ISNULL(BP.Nombre, BG.Nombre),   
                MD.Id,  
                GHD.IdSubCarrier,  
                GHD.NombreSubCarrier,   
                T1.Codigo,
                GH.BillToConsigneeId,
                GH.IdGuia,
                GH.NroGuia,
                SDV.Id,
                SDV.NroOrden
            HAVING COUNT(1) = SUM(IIF(GHD.EstadoPieza = 'DISPATCHED WH', 1, 0));
        END  
        ELSE  
        BEGIN  
            SELECT   
                GHD.Id,  
                GHD.IdGuiaHouse,  
                GHD.ShipToId,  
                GH.ConsigneeId,  
                GHD.Po,  
                GHD.CodigoBarra,  
                A.FechaCambio,  
                GHD.EstadoPieza,  
                PC.Id       AS IdProgramacionCarrier,  
                PC.FechaDespacho,  
                T.Id        AS IdSubCarrier,  
                T.Nombre    AS NombreSubCarrier
            INTO #TMP_GHD_FILTROS  
            FROM #tmlGHH A   
            INNER JOIN GuiasHouseDetalles GHD WITH(NOLOCK) ON A.IdGuiaHouseDetalle = GHD.Id
            INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GHD.IdGuiaHouse = GH.Id
            INNER JOIN ProgramacionCarrier PC WITH(NOLOCK) ON PC.IdGuiaHouseDetalle = GHD.Id   
            INNER JOIN #TMP_TRANS T ON PC.IdCarrier = T.Id;
  
            INSERT INTO #TablaAgrupacionGuiasHouse  
            SELECT      
                GHD.ShipToId                                              AS IdShipTo,     
                VCE.Nombre                                                AS NombreClienteFinal,  
                MAX(GHD.FechaDespacho)                                    AS FechaPickUpProgramada,  
                MAX(GHD.FechaCambio)                                      AS FechaPickUpEntrega,  
                SUM(IIF(GHD.EstadoPieza = 'PENDING',       1, 0))         AS TotalPending,  
                SUM(IIF(GHD.EstadoPieza = 'HOLD',          1, 0))         AS TotalHold,  
                SUM(IIF(GHD.EstadoPieza = 'SHORT',         1, 0))         AS TotalShort,  
                SUM(IIF(GHD.EstadoPieza = 'RECEIVED WH',   1, 0))         AS TotalReceived,  
                SUM(IIF(GHD.EstadoPieza = 'STANDBY',       1, 0))         AS TotalStandBy,  
                SUM(IIF(GHD.EstadoPieza = 'DISPATCHED WH', 1, 0))         AS TotalDespachado,  
                COUNT(1)                                                  AS Total,     
                ISNULL(UB.IdBodega, GH.IdBodega)                          AS IdBodega,   
                ISNULL(BP.Nombre, BG.Nombre)                              AS NombreBodega,   
                MD.Id                                                     AS IdManifiesto,  
                GHD.IdSubCarrier                                          AS IdCarrier,  
                GHD.NombreSubCarrier                                      AS NombreCarrier,  
                CONVERT(BIT, 1)                                           AS EsPod,   
                T1.Codigo,
                GH.BillToConsigneeId,
                GH.IdGuia                                                 AS IdGuia,
                GH.NroGuia                                                AS NroDocumento,
                SDV.Id                                                    AS IdOrdenVenta,
                SDV.NroOrden                                              AS NroOrdenVenta
            FROM #TMP_GHD_FILTROS GHD   
            INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GHD.IdGuiaHouse = GH.Id  
            LEFT JOIN v_ClientsEntities VCE ON GHD.ShipToId = VCE.Id     
            LEFT JOIN ProgramacionManifiesto PM WITH(NOLOCK) ON PM.IdProgramacionCarrier = GHD.IdProgramacionCarrier              
            LEFT JOIN ManifiestosDespacho MD ON MD.Id = PM.IdManifiestoDespacho  
            OUTER APPLY (
                SELECT TOP 1 DD.EsPod
                FROM DocumentosDespacho DD
                WHERE DD.IdManifiesto = MD.Id 
                    AND DD.IdDocumento = 'DOC052395'
                ORDER BY EsPod DESC
            ) DCD
            OUTER APPLY (
                SELECT TOP (1) S.Id, S.NroOrden
                FROM SolicitudDeVentaDetalles SD
                LEFT JOIN SolicitudDeVenta S ON S.Id = SD.IdSolicitud
                WHERE SD.IdGuiaHouseDetalle = GHD.Id
                ORDER BY S.FechaSolicitud DESC
            ) AS SDV
            LEFT JOIN PalletsDetalles PLD WITH(NOLOCK) ON GHD.Id = PLD.IdGuiasHouseDetalle  
            LEFT JOIN Pallets PAL WITH(NOLOCK) ON PLD.IdPallet = PAL.Id  
            INNER JOIN #TMP_CodigosRelacionSistemas T1 ON GHD.IdSubCarrier = T1.IdEntidad  
            LEFT JOIN UbicacionPiezas AS UP WITH(NOLOCK) ON GHD.Id = UP.IdGuiaHouseDetalle  
            LEFT JOIN Ubicaciones AS U ON UP.IdUbicacion = U.Id  
            LEFT JOIN UbicacionesBodega AS UB ON U.IdUbicacionBodega = UB.Id  
            LEFT JOIN Bodegas AS BG ON GH.IdBodega = BG.Id  
            LEFT JOIN Bodegas AS BP ON UB.IdBodega = BP.Id 
            WHERE GH.IdEmpresa = @IdEmpresa 
                AND DCD.EsPod = 1  
                AND (@NroDocumento IS NULL OR GH.NroGuia LIKE '%' + @NroDocumento + '%')  
                AND (@Po IS NULL OR GHD.Po LIKE '%' + @Po + '%')  
                AND (
                    (@IdConsignee IS NULL AND @NombreClienteConsignee IS NULL)
                    OR GH.ConsigneeId IN (SELECT Id FROM #TMP_Consignee)
                )
                AND (
                    (@IdBillTo IS NULL AND @NombreBillTo IS NULL)
                    OR (@IdConsignee IS NOT NULL OR @NombreClienteConsignee IS NOT NULL)
                    OR GH.BillToConsigneeId IN (SELECT Id FROM #TMP_BillTo)
                )
                AND (@NroPOD IS NULL OR MD.NroManifiesto LIKE '%' + @NroPOD + '%')  
                AND (@CodigoBarras IS NULL OR GHD.CodigoBarra LIKE '%' + @CodigoBarras + '%')  
                AND (@NombreComercialExportador IS NULL OR GH.IdExportador IN (SELECT Id FROM Exportadores WHERE Nombre LIKE '%' + @NombreComercialExportador + '%'))  
                AND (@PalletLabel IS NULL OR PAL.Pallet LIKE '%' + @PalletLabel + '%')  
            GROUP BY   
                GHD.ShipToId,  
                VCE.Nombre,
                ISNULL(UB.IdBodega, GH.IdBodega),   
                ISNULL(BP.Nombre, BG.Nombre),   
                MD.Id,  
                GHD.IdSubCarrier,  
                GHD.NombreSubCarrier,    
                T1.Codigo,
                GH.BillToConsigneeId,
                GH.IdGuia,
                GH.NroGuia,
                SDV.Id,
                SDV.NroOrden
            HAVING COUNT(1) = SUM(IIF(GHD.EstadoPieza = 'DISPATCHED WH', 1, 0));
        END  
  
        SELECT        
            TMP.Id                                      AS Id,  
            TMP.IdShipTo,  
            TMP.NombreClienteFinal,  
            TMP.IdBodega,  
            TMP.NombreBodega,  
            TMP.IdManifiesto,  
            TMP.IdCarrier,  
            TMP.NombreCarrier,  
            TMP.FechaPickUpProgramada,  
            TMP.FechaPickUpEntrega,  
            CONVERT(TIME, TMP.FechaPickUpEntrega)       AS HoraEntrega,  
            TMP.TotalPending                            AS PcsPending,  
            TMP.TotalHold                               AS PcsHold,  
            TMP.TotalShort                              AS PcsShort,  
            TMP.TotalReceived                           AS PcsReceivedWh,  
            TMP.TotalStandBy                            AS PcsStandby,  
            TMP.TotalDespachado                         AS TotalDespachado,  
            TMP.Total                                   AS Total,    
            CONVERT(BIT, 0)                             AS Enviado,  
            CONVERT(BIT, 0)                             AS Procesado,  
            NULL                                        AS TipoNubeDocs,  
            NULL                                        AS Estatus,  
            TMP.CodigoCarrier,
            TMP.BillToConsigneeId
        FROM #TablaAgrupacionGuiasHouse AS TMP

        DROP TABLE #TablaAgrupacionGuiasHouse
    END TRY  
    BEGIN CATCH  
        EXEC [dbo].[pro_LogError];  
    END CATCH;  
END;



/*
-- Test 1 Despues: Sin filtros 1305 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 1 Antes: Sin filtros 1322 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC pro_Despacho_PickUpShipToCompleteDelivered @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2: Con filtro Consignee | ALLURE FARMS LLC INVENTORY 513 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdConsignee VARCHAR(16) = 'ETY0000000010084', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, @IdConsignee, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2 Antes: Con filtro Nombre Consignee | ALLURE FARMS LLC INVENTORY 523 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @NombreConsignee VARCHAR(512) = 'ALLURE FARMS LLC INVENTORY', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC pro_Despacho_PickUpShipToCompleteDelivered @FechaDesde, @FechaHasta, NULL, NULL, @NombreConsignee, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2.1: Filtrando por nombre del consignatario 513 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @NombreConsignee VARCHAR(512) = 'ALLURE FARMS LLC INVENTORY', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, @NombreConsignee, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 3: Con filtro BillTo | ALLURE FARMS LLC GROUP 998 resultados
DECLARE @FechaDesde DATE = '20260101', @FechaHasta DATE = '20260228', @IdBillTo VARCHAR(16) = 'ETY0000000037072', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, @IdBillTo, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 3.1: Con filtro BillTo | ALLURE FARMS LLC GROUP 998 resultados
DECLARE @FechaDesde DATE = '20260101', @FechaHasta DATE = '20260228', @NombreBillTo VARCHAR(16) = 'ALLURE FARMS LLC GROUP', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, @NombreBillTo, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 4: Con filtro BillTo | ALLURE FARMS LLC GROUP 513 resultados toma como prioridad el consignee
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdBillTo VARCHAR(16) = 'ETY0000000037072', @IdConsignee VARCHAR(16) = 'ETY0000000010084', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, @IdBillTo, NULL, @IdConsignee, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;
*/