/*  
VERSION		MODIFIEDBY			MODIFIEDDATE		HU				MODIFICATION
1			Juan Yanza			2026-03-26			WMS 57731		Based on pro_Despacho_PickUpShipTocompletescheduled  
2			Cristhian Cuichan	2026-06-30			57742			The BilltoConsigneeId parameter is added to the query
*/  

CREATE OR ALTER PROCEDURE [dbo].[AC_pro_GetCompletedScheduledPickupShipTo]   
(  
	@FechaDesde					DATE,  
	@FechaHasta					DATE,  
	@NroDocumento				VARCHAR(32)	 = NULL,  
	@Po							VARCHAR(32)  = NULL,  
	@IdBillTo					VARCHAR(16)  = NULL,
	@NombreBillTo				VARCHAR(512) = NULL,
	@IdConsignee				VARCHAR(16)  = NULL,  
	@NombreClienteConsignee		VARCHAR(512) = NULL,  
	@NroPOD						VARCHAR(16)  = NULL,  
	@CodigoBarras				VARCHAR(32)  = NULL,  
	@NombreComercialExportador	VARCHAR(50)  = NULL,  
	@PalletLabel				VARCHAR(20)  = NULL,  
	@idEmpresa					VARCHAR(16)  
)  
AS  
BEGIN
	BEGIN TRY
		DECLARE @idParametroDelivery VARCHAR(16);
		
		CREATE TABLE #TablaAgrupacionGuiasHouseScheduled (  
			Id						INT IDENTITY(1, 1) NOT NULL,  
			IdClienteFinal			VARCHAR(16),
			IdShipTo				VARCHAR(16),  
			nombreClienteFinal		VARCHAR(1024),    
			FechaPickUpProgramada	DATETIME,  
			FechaPickUpEntrega		DATETIME,  
			TotalPending			INT,  
			TotalHold				INT,  
			TotalShort				INT,  
			TotalReceived			INT,  
			TotalStandBy			INT,  
			TotalDespachado			INT,  
			Total					INT,  
			IdBodega				VARCHAR(16),  
			nombreBodega			VARCHAR(1024),    
			IdManifiesto			UNIQUEIDENTIFIER,  
			IdCarrier				VARCHAR(16),  
			NombreCarrier			VARCHAR(512),  
			EsPod					BIT NOT NULL DEFAULT 0,  
			idOrdenventa			UNIQUEIDENTIFIER,  
			codigoCarrier			NVARCHAR(16),
			BilltoConsigneeId       VARCHAR(16)  
		);  
         
		SELECT @idParametroDelivery = id   
		FROM ParametrosLista parametroLista  
		WHERE parametroLista.codigo = 'EsDelivery'  
		AND parametroLista.idEmpresa = @idEmpresa; 
		
		CREATE TABLE #TMP_Consignee		(id VARCHAR(16))
		CREATE TABLE #TMP_BillTo		(id VARCHAR(16))

		IF @IdConsignee IS NOT NULL
			INSERT INTO #TMP_Consignee VALUES (@IdConsignee)

		IF @NombreClienteConsignee IS NOT NULL
			INSERT INTO #TMP_Consignee 
				SELECT F.id FROM f_SearchEntities(@NombreClienteConsignee, 'Consignee') F

		IF @IdConsignee IS NULL AND @NombreClienteConsignee IS NULL
		BEGIN
			IF @IdBillTo IS NOT NULL
				INSERT INTO #TMP_BillTo 
					SELECT F.id FROM f_SearchEntities(@IdBillTo, 'IdBillTo') F

			IF @NombreBillTo IS NOT NULL
				INSERT INTO #TMP_BillTo 
					SELECT F.id FROM f_SearchEntities(@NombreBillTo, 'BillTo') F
		END
  
		IF (     
			@NroDocumento				IS NULL AND 
			@Po							IS NULL AND 
			@IdBillTo					IS NULL AND
			@NombreBillTo				IS NULL AND
			@IdConsignee				IS NULL AND
			@NombreClienteConsignee		IS NULL AND
			@NroPOD						IS NULL AND 
			@CodigoBarras				IS NULL AND 
			@NombreComercialExportador	IS NULL AND
			@PalletLabel				IS NULL 
		)  
        BEGIN  
			INSERT INTO #TablaAgrupacionGuiasHouseScheduled  
			SELECT        
				VCE.id AS IdClienteFinal,  
				GHD.ShipToId														AS IdShipTo,
				ISNULL(VCE.nombre, VCE.BillToName)												AS NombreClienteFinal,
				programacionCarrier.fechaDespacho												AS FechaPickUpProgramada,  
				MAX(GHD.fechaCambio)												AS FechaPickUpEntrega,  
				SUM(IIF(GHD.estadoPieza = 'PENDING', 1, 0))						AS TotalPending,  
				SUM(IIF(GHD.estadoPieza = 'HOLD', 1, 0))							AS TotalHold,  
				SUM(IIF(GHD.estadoPieza = 'SHORT', 1, 0))							AS TotalShort,  
				SUM(IIF(GHD.estadoPieza = 'RECEIVED WH', 1, 0))					AS TotalReceived,  
				SUM(IIF(GHD.estadoPieza = 'STANDBY', 1, 0))						AS TotalStandBy,  
				SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0))					AS TotalDespachado,  
				COUNT(1)																		AS Total,  
				CASE  
				WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '')  
				THEN GH.idBodega ELSE ubicacionesBodega.idBodega  
				END																				AS idBodega,   
				CASE  
				WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '')  
				THEN bodegaGuia.nombre ELSE bodegaPieza.nombre  
				END																				AS nombreBodega,   
				manifiestoDespacho.id															AS IdManifiesto,  
				programacionCarrier.idCarrier													AS IdCarrier,  
				subCarrier.nombre																AS NombreCarrier,  
				IIF(dcd.esPOD  IS NULL, CONVERT(BIT,0), dcd.esPOD),  
					svc.id,  
					codigoRelacion.codigo,
				GH.BillToConsigneeId
			FROM GuiasHouseDetalles GHD WITH (NOLOCK)    
			INNER JOIN GuiasHouse GH ON GHD.idGuiaHouse = GH.id  
			INNER JOIN v_ClientsEntities VCE ON GHD.ShipToId = VCE.Id  
			INNER JOIN ProgramacionCarrier programacionCarrier WITH (NOLOCK) ON programacionCarrier.idGuiaHouseDetalle = GHD.id  
			INNER JOIN Transportes subCarrier ON programacionCarrier.idCarrier = subCarrier.id  
			INNER JOIN Transportes carrier ON subCarrier.idTransportePrincipal = carrier.id  
			INNER JOIN ParametrosCatalogos parametroCatalogo ON carrier.id = parametroCatalogo.idEntidad AND parametroCatalogo.idParametroLista = @idParametroDelivery  
			LEFT JOIN ProgramacionManifiesto programacionManifiesto ON programacionManifiesto.idProgramacionCarrier = programacionCarrier.id                
			LEFT JOIN ManifiestosDespacho manifiestoDespacho ON manifiestoDespacho.id = programacionManifiesto.idManifiestoDespacho  
			LEFT JOIN DocumentosDespacho dcd ON manifiestoDespacho.id = dcd.idManifiesto AND dcd.idDocumento = 'DOC052395'  
			LEFT JOIN PalletsDetalles pld ON GHD.id = pld.idGuiasHouseDetalle  
			LEFT JOIN Pallets pal ON pld.idPallet = pal.id  
			OUTER APPLY (SELECT TOP (1) SV.id,  
										SV.nroOrden  
						FROM SolicitudDeVentaDetalles SVD  
						LEFT JOIN SolicitudDeVenta SV ON SV.id = SVD.idSolicitud  
						WHERE SVD.idGuiaHouseDetalle = GHD.id  
						ORDER BY SV.fechaSolicitud DESC) AS svc  
			INNER JOIN CodigosRelacionSistemas AS codigoRelacion ON programacionCarrier.idCarrier = codigoRelacion.idEntidad AND codigoRelacion.tipoEntidad = 'CARRIER' AND codigoRelacion.idSistemaEntidad = 100  
			LEFT JOIN UbicacionPiezas AS ubicacionPiezas ON GHD.id = ubicacionPiezas.idGuiaHouseDetalle  
			LEFT JOIN Ubicaciones AS ubicaciones ON ubicacionPiezas.idUbicacion = ubicaciones.id  
			LEFT JOIN UbicacionesBodega AS ubicacionesBodega ON ubicaciones.idUbicacionBodega = ubicacionesBodega.id  
			LEFT JOIN Bodegas AS bodegaGuia ON GH.idBodega = bodegaGuia.id  
			LEFT JOIN Bodegas AS bodegaPieza ON ubicacionesBodega.idBodega = bodegaPieza.id  
			WHERE GH.idEmpresa = @idEmpresa   
			AND parametroCatalogo.valor = 'NO'  
			AND programacionCarrier.fechaDespacho BETWEEN @FechaDesde AND @FechaHasta  
			AND (@PalletLabel IS NULL OR   pal.pallet LIKE '%' + @PalletLabel + '%')  
			GROUP BY   
			VCE.id,
			GHD.ShipToId,  
			ISNULL(VCE.nombre, VCE.BillToName), 
			CASE  
				WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '') THEN GH.idBodega 
				ELSE ubicacionesBodega.idBodega  
			END,   
			CASE  
				WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '') THEN bodegaGuia.nombre 
				ELSE bodegaPieza.nombre  
			END,   
			programacionCarrier.fechaDespacho,  
			manifiestoDespacho.id,  
			programacionCarrier.idCarrier,  
			subCarrier.nombre,  
			dcd.esPOD,  
			svc.nroOrden,  
			svc.id,  
			codigoRelacion.codigo,
			GH.BillToConsigneeId
			HAVING COUNT(1) = SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0));  
        END  
        ELSE  
        BEGIN  
			INSERT INTO #TablaAgrupacionGuiasHouseScheduled  
			SELECT        
				VCE.id															AS IdClienteFinal,
				GHD.ShipToId													AS IdShipTo,  
				ISNULL(VCE.nombre, VCE.BillToName)								AS NombreClienteFinal,
				programacionCarrier.fechaDespacho								AS FechaPickUpProgramada,  
				MAX(GHD.fechaCambio)											AS FechaPickUpEntrega,  
				SUM(IIF(GHD.estadoPieza = 'PENDING', 1, 0))						AS TotalPending,  
				SUM(IIF(GHD.estadoPieza = 'HOLD', 1, 0))						AS TotalHold,  
				SUM(IIF(GHD.estadoPieza = 'SHORT', 1, 0))						AS TotalShort,  
				SUM(IIF(GHD.estadoPieza = 'RECEIVED WH', 1, 0))					AS TotalReceived,  
				SUM(IIF(GHD.estadoPieza = 'STANDBY', 1, 0))						AS TotalStandBy,  
				SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0))				AS TotalDespachado,  
				COUNT(1) AS Total,  
			CASE  
			WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '')  
			THEN GH.idBodega ELSE ubicacionesBodega.idBodega  
			END																					AS idBodega,   
			CASE  
			WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '')  
			THEN bodegaGuia.nombre ELSE bodegaPieza.nombre  
			END																					AS nombreBodega,   
			manifiestoDespacho.id																AS IdManifiesto,  
			programacionCarrier.idCarrier														AS IdCarrier,  
			subCarrier.nombre																	AS NombreCarrier,  
			IIF(dcd.esPOD  IS NULL, CONVERT(BIT,0), dcd.esPOD),  
			svc.id,  
			codigoRelacion.codigo,
			GH.BillToConsigneeId
			FROM GuiasHouseDetalles GHD WITH (NOLOCK)   
			INNER JOIN GuiasHouse GH ON GHD.idGuiaHouse = GH.id  
			INNER JOIN v_ClientsEntities VCE ON GHD.ShipToId = VCE.Id  
			INNER JOIN ProgramacionCarrier programacionCarrier WITH (NOLOCK) ON programacionCarrier.idGuiaHouseDetalle = GHD.id  
			INNER JOIN Transportes subCarrier ON programacionCarrier.idCarrier = subCarrier.id  
			INNER JOIN Transportes carrier ON subCarrier.idTransportePrincipal = carrier.id  
			INNER JOIN ParametrosCatalogos parametroCatalogo ON carrier.id = parametroCatalogo.idEntidad AND parametroCatalogo.idParametroLista = @idParametroDelivery  
			LEFT JOIN v_ClientsEntities VCE_BillTo WITH(NOLOCK) ON GH.BillToConsigneeId = VCE_BillTo.id 
			LEFT JOIN ProgramacionManifiesto programacionManifiesto ON programacionManifiesto.idProgramacionCarrier = programacionCarrier.id                
			LEFT JOIN ManifiestosDespacho manifiestoDespacho ON manifiestoDespacho.id = programacionManifiesto.idManifiestoDespacho  
			LEFT JOIN DocumentosDespacho dcd ON manifiestoDespacho.id = dcd.idManifiesto AND dcd.idDocumento = 'DOC052395'  
			LEFT JOIN PalletsDetalles pld ON GHD.id = pld.idGuiasHouseDetalle  
			LEFT JOIN Pallets pal ON pld.idPallet = pal.id  
			OUTER APPLY (SELECT TOP (1) SV.id,  
										SV.nroOrden  
										FROM SolicitudDeVentaDetalles SVD  
										LEFT JOIN SolicitudDeVenta SV ON SV.id = SVD.idSolicitud  
										WHERE SVD.idGuiaHouseDetalle = GHD.id  
										ORDER BY SV.fechaSolicitud DESC) AS svc  
			INNER JOIN CodigosRelacionSistemas AS codigoRelacion ON programacionCarrier.idCarrier = codigoRelacion.idEntidad AND codigoRelacion.tipoEntidad = 'CARRIER' AND codigoRelacion.idSistemaEntidad = 100  
			LEFT JOIN UbicacionPiezas AS ubicacionPiezas ON GHD.id = ubicacionPiezas.idGuiaHouseDetalle  
			LEFT JOIN Ubicaciones AS ubicaciones ON ubicacionPiezas.idUbicacion = ubicaciones.id  
			LEFT JOIN UbicacionesBodega AS ubicacionesBodega ON ubicaciones.idUbicacionBodega = ubicacionesBodega.id  
			LEFT JOIN Bodegas AS bodegaGuia ON GH.idBodega = bodegaGuia.id  
			LEFT JOIN Bodegas AS bodegaPieza ON ubicacionesBodega.idBodega = bodegaPieza.id  
			WHERE GH.idEmpresa = @idEmpresa   
			AND parametroCatalogo.valor = 'NO'  
			AND programacionCarrier.fechaDespacho BETWEEN @FechaDesde AND @FechaHasta  
			AND (@NroDocumento IS NULL OR GH.nroGuia LIKE '%' + @NroDocumento + '%')  
			AND (@Po IS NULL OR GHD.po LIKE '%' + @Po + '%')  
			AND (
				(@IdConsignee IS NULL AND @NombreClienteConsignee IS NULL)
				OR GH.ConsigneeId IN (SELECT id FROM #TMP_Consignee)
			)
			AND (
				(@IdBillTo IS NULL AND @NombreBillTo IS NULL)
				OR (@IdConsignee IS NOT NULL OR @NombreClienteConsignee IS NOT NULL)
				OR GH.BillToConsigneeId IN (SELECT id FROM #TMP_BillTo)
			)
			AND (@NroPOD IS NULL OR manifiestoDespacho.nroManifiesto LIKE '%' + @NroPOD + '%')  
			AND (@CodigoBarras IS NULL OR GHD.codigoBarra LIKE '%' + @CodigoBarras + '%')  
			AND (@NombreComercialExportador IS NULL OR GH.idExportador IN ( SELECT id FROM Exportadores WHERE nombre LIKE '%' + @NombreComercialExportador + '%' ))  
			AND (@PalletLabel IS NULL OR   pal.pallet LIKE '%' + @PalletLabel + '%')  
			GROUP BY   
			VCE.id,
			GHD.ShipToId,  
			ISNULL(VCE.nombre, VCE.BillToName),
			CASE  
				WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '') THEN GH.idBodega 
				ELSE ubicacionesBodega.idBodega  
			END,   
			CASE  
				WHEN (ubicacionesBodega.idBodega IS NULL OR ubicacionesBodega.idBodega = '') THEN bodegaGuia.nombre 
				ELSE bodegaPieza.nombre  
			END,   
			programacionCarrier.fechaDespacho,  
			manifiestoDespacho.id,  
			programacionCarrier.idCarrier,  
			subCarrier.nombre,  
			dcd.esPOD,  
			svc.nroOrden,  
			svc.id,  
			codigoRelacion.codigo,
			GH.BillToConsigneeId
			HAVING COUNT(1) = SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0));  
        END  
        SELECT        
			TMP.Id									AS Id,  
			TMP.IdClienteFinal,
			TMP.IdShipTo,  
			TMP.NombreClienteFinal,  
			TMP.IdBodega,  
			TMP.NombreBodega,  
			TMP.IdManifiesto,  
			TMP.IdCarrier,  
			TMP.NombreCarrier,    
			TMP.FechaPickUpProgramada,  
			TMP.FechaPickUpEntrega,  
			CONVERT(TIME, TMP.FechaPickUpEntrega)	AS HoraEntrega,  
			TMP.TotalPending						AS PcsPending,  
			TMP.TotalHold							AS PcsHold,  
			TMP.TotalShort							AS PcsShort,  
			TMP.TotalReceived						AS PcsReceivedWh,  
			TMP.TotalStandBy						AS PcsStandby,  
			TMP.TotalDespachado						AS TotalDespachado,  
			TMP.Total								AS Total,    
			CONVERT(BIT, 0)							AS Enviado,  
			CONVERT(BIT, 0)							AS Procesado,  
			NULL									AS TipoNubeDocs,  
			NULL									AS Estatus,  
			TMP.idOrdenventa,  
			TMP.codigoCarrier,
			TMP.BilltoConsigneeId
		FROM #TablaAgrupacionGuiasHouseScheduled AS TMP  
		WHERE TMP.EsPod = 1   
		
		DROP TABLE #TablaAgrupacionGuiasHouseScheduled;  
  
	END TRY  
	BEGIN CATCH  
		EXEC [dbo].[pro_LogError];  
    END CATCH;  
END;

/*
-- Test 1 Despues: Sin filtros 1576 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedScheduledPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 1 Antes: Sin filtros 1604 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC pro_Despacho_PickUpShipTocompletescheduled @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2 Despues: Con filtro Consignee | ALLURE FARMS LLC INVENTORY 742 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdConsignee VARCHAR(16) = 'ETY0000000010084', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedScheduledPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, @IdConsignee, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2 Antes: Con filtro Nombre Consignee | ALLURE FARMS LLC INVENTORY 764 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @NombreConsignee VARCHAR(512) = 'ALLURE FARMS LLC INVENTORY', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC pro_Despacho_PickUpShipTocompletescheduled @FechaDesde, @FechaHasta, NULL, NULL, @NombreConsignee, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2.1: Filtrando por nombre del consignatario 742 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @NombreConsignee VARCHAR(512) = 'ALLURE FARMS LLC INVENTORY', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedScheduledPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, @NombreConsignee, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 3: Con filtro BillTo | ALLURE FARMS LLC GROUP 1420 resultados
DECLARE @FechaDesde DATE = '20260101', @FechaHasta DATE = '20260228', @IdBillTo VARCHAR(16) = 'ETY0000000037072', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedScheduledPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, @IdBillTo, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 3.1: Con filtro BillTo | ALLURE FARMS LLC GROUP 1420 resultados
DECLARE @FechaDesde DATE = '20260101', @FechaHasta DATE = '20260228', @NombreBillTo VARCHAR(16) = 'ALLURE FARMS LLC GROUP', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedScheduledPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, @NombreBillTo, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 4: Con filtro BillTo | ALLURE FARMS LLC GROUP 742 resultados toma como prioridad el consignee
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdBillTo VARCHAR(16) = 'ETY0000000037072', @IdConsignee VARCHAR(16) = 'ETY0000000010084', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedScheduledPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, @IdBillTo, NULL, @IdConsignee, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;
*/